spring:
  application:
    name: LovableProject

  datasource:
    url: jdbc:mysql://127.0.0.1:32772/sqldb
    username: root
    password: nish@nt
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true